vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Nov 2006 11:54:22 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|09 Nov 2006 11:54:22 -0000
vti_filesize:IR|1635
vti_cachedlinkinfo:VX|S|../img/icons/tabs/bg.gif S|../img/icons/tabs/bg.gif S|../img/icons/tabs/right.gif S|../img/icons/tabs/left.gif S|../img/icons/tabs/left_on.gif S|../img/icons/tabs/right_on.gif S|../img/icons/tabs/right_last.gif S|../img/icons/tabs/left_first.gif
vti_cachedsvcrellinks:VX|FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/right.gif FSUS|img/icons/tabs/left.gif FSUS|img/icons/tabs/left_on.gif FSUS|img/icons/tabs/right_on.gif FSUS|img/icons/tabs/right_last.gif FSUS|img/icons/tabs/left_first.gif
vti_backlinkinfo:VX|test/perl/test.html test/php/test.html test/ssi/test.html test/apacheasp/test.html test/cgi/test.html test/python/test.html test/coldfusion/test.html
